RoyalMailApi/Service References/RoyalMailApiWsdl/shippingAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.royalmailgroup.com/api/ship/V2" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:ns1="http://www.w3.org/2000/09/xmldsig#" name="shippingAPI" targetNamespace="http://www.royalmailgroup.com/api/ship/V2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>Version: 2.0.9</wsdl:documentation>
  <wsdl:types>
    <xs:schema xmlns:tns="http://www.royalmailgroup.com/WSDLapi/ship/V1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.royalmailgroup.com/WSDLapi/ship/V1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import schemaLocation="ShippingAPI_V2_0_9.xsd" namespace="http://www.royalmailgroup.com/api/ship/V2" />
      <xs:import schemaLocation="oasis-200401-wss-wssecurity-secext-1.0.xsd" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="createShipmentRequest">
    <wsdl:part name="createShipmentRequest" element="tns:createShipmentRequest" />
  </wsdl:message>
  <wsdl:message name="createShipmentResponse">
    <wsdl:part name="createShipmentResponse" element="tns:createShipmentResponse" />
  </wsdl:message>
  <wsdl:message name="printLabelRequest">
    <wsdl:part name="printLabelRequest" element="tns:printLabelRequest" />
  </wsdl:message>
  <wsdl:message name="printLabelResponse">
    <wsdl:part name="printLabelResponse" element="tns:printLabelResponse" />
  </wsdl:message>
  <wsdl:message name="createManifestRequest">
    <wsdl:part name="createManifestRequest" element="tns:createManifestRequest" />
  </wsdl:message>
  <wsdl:message name="createManifestResponse">
    <wsdl:part name="createManifestResponse" element="tns:createManifestResponse" />
  </wsdl:message>
  <wsdl:message name="printManifestRequest">
    <wsdl:part name="printManifestRequest" element="tns:printManifestRequest" />
  </wsdl:message>
  <wsdl:message name="printManifestResponse">
    <wsdl:part name="printManifestResponse" element="tns:printManifestResponse" />
  </wsdl:message>
  <wsdl:message name="updateShipmentRequest">
    <wsdl:part name="updateShipmentRequest" element="tns:updateShipmentRequest" />
  </wsdl:message>
  <wsdl:message name="updateShipmentResponse">
    <wsdl:part name="updateShipmentResponse" element="tns:updateShipmentResponse" />
  </wsdl:message>
  <wsdl:message name="cancelShipmentRequest">
    <wsdl:part name="cancelShipmentRequest" element="tns:cancelShipmentRequest" />
  </wsdl:message>
  <wsdl:message name="cancelShipmentResponse">
    <wsdl:part name="cancelShipmentResponse" element="tns:cancelShipmentResponse" />
  </wsdl:message>
  <wsdl:message name="printDocumentRequest">
    <wsdl:part name="printDocumentRequest" element="tns:printDocumentRequest" />
  </wsdl:message>
  <wsdl:message name="printDocumentResponse">
    <wsdl:part name="printDocumentResponse" element="tns:printDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="request1DRangesRequest">
    <wsdl:part name="request1DRangesRequest" element="tns:request1DRangesRequest" />
  </wsdl:message>
  <wsdl:message name="request1DRangesResponse">
    <wsdl:part name="request1DRangesResponse" element="tns:request1DRangesResponse" />
  </wsdl:message>
  <wsdl:message name="request2DItemIDRangeRequest">
    <wsdl:part name="request2DItemIDRangeRequest" element="tns:request2DItemIDRangeRequest" />
  </wsdl:message>
  <wsdl:message name="request2DItemIDRangeResponse">
    <wsdl:part name="request2DItemIDRangeResponse" element="tns:request2DItemIDRangeResponse" />
  </wsdl:message>
  <wsdl:message name="securityHeader">
    <wsdl:part name="security" element="wsse:Security" />
  </wsdl:message>
  <wsdl:message name="faultResponse">
    <wsdl:part name="faultResponse" element="tns:exceptionDetails" />
  </wsdl:message>
  <wsdl:portType name="shippingAPIPortType">
    <wsdl:operation name="createShipment" parameterOrder="createShipmentRequest">
      <wsdl:input message="tns:createShipmentRequest" />
      <wsdl:output message="tns:createShipmentResponse" />
      <wsdl:fault name="faultResponse" message="tns:faultResponse" />
    </wsdl:operation>
    <wsdl:operation name="printLabel" parameterOrder="printLabelRequest">
      <wsdl:input message="tns:printLabelRequest" />
      <wsdl:output message="tns:printLabelResponse" />
      <wsdl:fault name="faultResponse" message="tns:faultResponse" />
    </wsdl:operation>
    <wsdl:operation name="createManifest" parameterOrder="createManifestRequest">
      <wsdl:input message="tns:createManifestRequest" />
      <wsdl:output message="tns:createManifestResponse" />
      <wsdl:fault name="faultResponse" message="tns:faultResponse" />
    </wsdl:operation>
    <wsdl:operation name="printManifest" parameterOrder="printManifestRequest">
      <wsdl:input message="tns:printManifestRequest" />
      <wsdl:output message="tns:printManifestResponse" />
      <wsdl:fault name="faultResponse" message="tns:faultResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateShipment" parameterOrder="updateShipmentRequest">
      <wsdl:input message="tns:updateShipmentRequest" />
      <wsdl:output message="tns:updateShipmentResponse" />
      <wsdl:fault name="faultResponse" message="tns:faultResponse" />
    </wsdl:operation>
    <wsdl:operation name="cancelShipment" parameterOrder="cancelShipmentRequest">
      <wsdl:input message="tns:cancelShipmentRequest" />
      <wsdl:output message="tns:cancelShipmentResponse" />
      <wsdl:fault name="faultResponse" message="tns:faultResponse" />
    </wsdl:operation>
    <wsdl:operation name="printDocument" parameterOrder="printDocumentRequest">
      <wsdl:input message="tns:printDocumentRequest" />
      <wsdl:output message="tns:printDocumentResponse" />
      <wsdl:fault name="faultResponse" message="tns:faultResponse" />
    </wsdl:operation>
    <wsdl:operation name="request1DRanges" parameterOrder="request1DRangesRequest">
      <wsdl:input message="tns:request1DRangesRequest" />
      <wsdl:output message="tns:request1DRangesResponse" />
      <wsdl:fault name="faultResponse" message="tns:faultResponse" />
    </wsdl:operation>
    <wsdl:operation name="request2DItemIDRange" parameterOrder="request2DItemIDRangeRequest">
      <wsdl:input message="tns:request2DItemIDRangeRequest" />
      <wsdl:output message="tns:request2DItemIDRangeResponse" />
      <wsdl:fault name="faultResponse" message="tns:faultResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="shippingAPISoapBinding" type="tns:shippingAPIPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createShipment">
      <soap:operation soapAction="createShipment" style="document" />
      <wsdl:input>
        <soap:header message="tns:securityHeader" part="security" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultResponse">
        <soap:fault use="literal" name="faultResponse" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="printLabel">
      <soap:operation soapAction="printLabel" style="document" />
      <wsdl:input>
        <soap:header message="tns:securityHeader" part="security" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultResponse">
        <soap:fault use="literal" name="faultResponse" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createManifest">
      <soap:operation soapAction="createManifest" style="document" />
      <wsdl:input>
        <soap:header message="tns:securityHeader" part="security" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultResponse">
        <soap:fault use="literal" name="faultResponse" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="printManifest">
      <soap:operation soapAction="printManifest" style="document" />
      <wsdl:input>
        <soap:header message="tns:securityHeader" part="security" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultResponse">
        <soap:fault use="literal" name="faultResponse" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateShipment">
      <soap:operation soapAction="updateShipment" style="document" />
      <wsdl:input>
        <soap:header message="tns:securityHeader" part="security" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultResponse">
        <soap:fault use="literal" name="faultResponse" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelShipment">
      <soap:operation soapAction="cancelShipment" style="document" />
      <wsdl:input>
        <soap:header message="tns:securityHeader" part="security" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultResponse">
        <soap:fault use="literal" name="faultResponse" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="printDocument">
      <soap:operation soapAction="printDocument" style="document" />
      <wsdl:input>
        <soap:header message="tns:securityHeader" part="security" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultResponse">
        <soap:fault use="literal" name="faultResponse" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="request1DRanges">
      <soap:operation soapAction="request1DRanges" style="document" />
      <wsdl:input>
        <soap:header message="tns:securityHeader" part="security" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultResponse">
        <soap:fault use="literal" name="faultResponse" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="request2DItemIDRange">
      <soap:operation soapAction="request2DItemIDRange" style="document" />
      <wsdl:input>
        <soap:header message="tns:securityHeader" part="security" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultResponse">
        <soap:fault use="literal" name="faultResponse" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="shippingAPI">
    <wsdl:port name="shippingAPIPort" binding="tns:shippingAPISoapBinding">
      <soap:address location="https://api.royalmail.net/shipping/v2" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>